# Set default behavior for all files to handle line endings automatically.
# This prevents Git from guessing the file type.
* text=auto eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

#
# The above will handle most files, but we can be explicit for common types.
#

# Enforce LF line endings for files that should have them.
*.py text eol=lf
*.ipynb text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.yaml text eol=lf
*.yml text eol=lf