# Dirs
/data/
/models/
/custom_test/

# Python virtual environment
/venv/
/.venv/
env/
.env

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store